certifi==2020.6.20
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
MarkupSafe==1.1.1
numpy==1.19.1
scikit-learn==0.23.1
scipy==1.5.2
sklearn==0.0
threadpoolctl==2.1.0
Werkzeug==1.0.1
beautifulsoup4==4.7.1
nltk==3.4.4
regex==2020.2.20
spacy==2.2.2
unicodedata2==13.0.0
gunicorn==19.9.0